# LangChain Core
langchain
langchain-core
langchain-community

# Ollama Integration
langchain-ollama

# Machine Learning Utilities
numpy
scikit-learn

# tools
ddg
langchain-experimental

# telegram bot
nest-asyncio
telethon